@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Banking Application (First assessment) - 20%</h1>
        <p>In this page you can find the consign of the applications and some aditional stuff.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Logging in</h2>
            <ul >
                <li>
                    <p>An opening menu should ask if you are a Bank Employee or a Customer &#x2713; </p>
                    <div class="card">
                        <div class="card-body">
                            The opening is in the page /Account/Login.
                            If you already log in you will be redirect to your
                            dashboard or users list if you are admin.
                        </div>
                    </div>
                </li>
                <li>
                    <p>To successfully login as a bank employee you must type in the pin 'A1234' &#x2713; </p>
                </li>
                <li>
                    <p>To successfully login as a customer, you must enter your first name, last name, account number and pin &#x2713; </p>
                    <div class="card">
                        <div class="card-body">
                            The consign was not very clear about how work the accounts of the users.
                            I have done that in the way that every user can connect with a pin which 
                            is constitued of the id the user. Once the user is connected he can access to ALL
                            of his accounts.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Bank employee view</h2>
            <ul >
                <li>
                    <p>
                        As a bank employee you can create and delete customers.
                        To create a customer account you need 
                        first name, last name and email &#x2713; 
                    </p>
                    <div class="card">
                        <div class="card-body">
                            Once connected the admin can do that in the 
                            page users.
                        </div>
                    </div>
                </li>
                <li>
                    <p>Each new customer gets a savings account and a current account  &#x2713; </p>
                </li>
                <li>
                    <p>Bank employee can only delete customers who have zero balances. 
                        And they can create transactions (lodge, withdraw) for each customer. 
                       They should be able to add and withdraw for a specified account
                        &#x2713; 
                    </p>
                </li>
                <li>
                    <p>Bank employee should be able to show a complete list of customers including their 
                        balances in savings and current account &#x2713; </p>
                    <div class="card">
                        <div class="card-body">
                            This is in the page users.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Customer view</h2>
            <ul >
                <li>
                    <p>To login, a customer must enter their name, account code 
                        AND a pin number for their account &#x2713; </p>
                    <div class="card">
                        <div class="card-body">
                            As explained in the logging, the consign was not very clear about how work the accounts of the users.
                            I have done that in the way that every user can connect with a pin which 
                            is constitued of the id the user. Once the user is connected he can access to ALL
                            of his accounts.
                        </div>
                    </div>
                </li>
                <li>
                    <p>A customer can retrieve the transaction history for their specified account &#x2713; </p>
                    <div class="card">
                        <div class="card-body">
                            In the Dashboard the user can view 
                            the detail of each account.
                        </div>
                    </div>
                </li>
                <li>
                    <p>A customer can add and subtract money to either their savings account or current account  &#x2713; </p>
                    <div class="card">
                        <div class="card-body">
                            In the Dashboard the user add new transactions 
                            for watever account he wants.
                        </div>
                    </div>
                </li>
                <li>
                    <p>Customer cannot have negative balance &#x2713;</p>
                </li>
            </ul>
        </div>
    </div>

    <hr>

</div>