@using epita_ca1_74526.Data.Enum
@model epita_ca1_74526.ViewModels.CreateAdminTransactionViewModel
<!--
    Name: Lucile Pelou
    Student number: 74526
-->
@{
    ViewData["Title"] = "Create a new Transaction";
}

@if (!User.Identity.IsAuthenticated)
{
    <meta http-equiv="refresh" content="0; url=@Url.Action("Index", "Home")" />
}
else if ((!User.IsInRole("admin")))
{
    <meta http-equiv="refresh" content="0; url=@Url.Action("Create", "Transaction")" />
}
 <form method="post" asp-action="CreateAdmin" enctype="multipart/form-data">
    <input type="hidden" id="UserId" name="UserId" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label asp-for="transactionType">Type of Transaction</label>
        <select asp-for="transactionType" asp-items="@Html.GetEnumSelectList<TransactionType>()" class="form-control" id="TransactionType">
            <option>Select a type</option>
        </select>
        <span asp-validation-for="transactionType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input asp-for="Amount" class="form-control" placeholder="Enter Amount">
    </div>
    <div class="form-group">
        <label asp-for="AccountId">Account</label>
        <select asp-for="AccountId" class="form-control" asp-items="@((SelectList)ViewData["UserAccounts"])">
            <option value="">Select an account</option>
            @foreach (var account in Model.UserAccounts)
            {
                <option value="@account.Id">@account.accountType</option>
            }
        </select>
        </select>
        <span asp-validation-for="AccountId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>